
*{outline: 1px solid red;};

/* #fce3cb	(252,227,203)
#e4948b	(228,148,139)
#ae756c	(174,117,108)
#98ad6f	(152,173,111)
#50694c	(80,105,76) */

/* target all elements */

*{
  margin:0 ;
  padding:0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* box-sizing: border-box; */
}

body{
  margin: 0 !important;
  background-color:#e4948b;
}

.navigation-bar{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

nav{
  background-color: 	#fce3cb;
}

nav ul{
  list-style-type: none;
  padding: 0;
} 

nav a{
  text-decoration: none;
  color: #ae756c;
  display: block;
  padding: 20px;
}

nav a:hover{
  background-color: #ae756c;
  color:#fce3cb;
}

ul{
  display: flex;
  justify-content: flex-end;
}

ul li{ 
  /*  flex: <grow> <shrink> <basis>; */
  /* flex: 1 1 0;    */


}


/* logo */
.logo-txt{
  font-family: 'Rampart One', cursive;
  color: #e4948b;
}
